/* Tags Gerais (elementos) */
*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
    /* primeiro parametro - espaço superior e inferior */
    /* segundo parametro =  espaço esquerda e direita */
}
header h1{
    margin:0;
    height: 84px;
}
nav{
    padding: 15px 0;
    text-align: center;
}
nav li{
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: #000;
}
nav a:hover{
    color: #6dd432;
}
h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Especificos (#id) */
#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

#produto .flex-conteiner{
    margin-top: 43px;
}


/*fundo Verde*/
.Fundo-Verde{
    background-color: #6dd432;
}

.conteiner{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-conteiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-conteiner .col{
    width: 400px;
}

.produto{
    width: 235px;
}

.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: center;
}

.btn-pata{
    border: 1px solid #91e919;
    background-color: #d2fbd2;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #000;
}

form{
    width: 380px;
}

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;